.Promo {
  position: relative;
  max-width: 1920px;
  max-height: 1394px;
  width: 100vw;
  height: 1394px;
  background: #e5e5e5;
  display: flex;
  justify-content: center;

  &_box {
    width: 1040px;
    height: 1394px;
    display: flex;
    flex-direction: column;

    &_clubs {
      width: 1040px;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: rgba(110, 140, 245, 0.2);
      border-radius: 0 0 60px 60px;

      &_text-1 {
        width: 530px;
        height: 112px;
        margin-top: 60px;
        margin-left: 80px;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;

        color: #6e8cf5;
      }

      &_text-2 {
        width: 530px;
        height: 48px;
        margin-left: 80px;
        margin-top: 20px;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        letter-spacing: 0.15px;

        color: #6e8cf5;
      }

      &_imagebox {
        width: 530px;
        height: 50px;
        margin-left: 80px;
        margin-top: 40.28px;
        display: flex;
        gap: 20px;
        mix-blend-mode: multiply;

        &_img-1 {
          width: 97.85px;
          height: 50px;
          background: url(../../img/icon1-97.85.png);
        }

        &_img-2 {
          width: 97.85px;
          height: 50px;
          background: url(../../img/icon2-97.85.png);
        }

        &_img-3 {
          width: 97.85px;
          height: 50px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &_img-a {
            width: 80.26px;
            height: 21.05px;
            background: url(../../img/icon3-80.26.png);
          }

          &_img-b {
            width: 80.26px;
            height: 34.21px;
            background: url(../../img/icon4-80.26.png);
          }
        }
      }
    }

    &_coach {
      position: relative;
      display: flex;
      width: 1040px;
      height: 533.72px;
      margin-top: 40px;

      &_bg {
        position: absolute;
        width: 1040px;
        height: 460.72px;
        top: 73px;
        background: rgba(180, 135, 245, 0.2);
        border-radius: 60px;
      }

      &_photo {
        position: relative;
        width: 474px;
        height: 573px;
        left: 0;
        top: -25px;

        background: url(../../img/image3-374.png);
      }

      &_item {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 488px;
        height: 294px;
        top: 133px;
        left: 12px;
        font-family: 'Gilroy';
        font-style: normal;
        color: #b487f5;

        &_text-1 {
          width: 377px;
          height: 56px;
          font-weight: 700;
          font-size: 48px;
          line-height: 56px;
        }

        &_text-2 {
          width: 448px;
          height: 72px;
          margin-top: 20px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.15px;
        }

        &_block {
          width: 448px;
          height: 86px;
          margin-top: 60px;
          display: flex;
          gap: 40px;

          &_col {
            width: 105px;
            height: 86px;
            display: flex;
            flex-direction: column;

            &_row-1 {
              width: 105px;
              height: 36px;
              font-weight: 700;
              font-size: 34px;
              line-height: 36px;
            }

            &_row-2 {
              width: 105px;
              height: 40px;
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }

    &_download {
      width: 1040px;
      height: 360px;
      display: flex;
      justify-content: center;
      margin-top: 60.28px;
      background: rgba(110, 140, 245, 0.2);
      border-radius: 60px 60px 0 0;

      &_item {
        width: 880px;
        height: 240px;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        &_col-1 {
          width: 420px;
          height: 212px;
          display: flex;
          flex-direction: column;
          gap: 40px;

          &_row-1 {
            width: 380px;
            height: 112px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            color: #6e8cf5;
          }

          &_row-2 {
            width: 420px;
            height: 60px;
            display: flex;
            gap: 20px;

            &_icon-1 {
              width: 200px;
              height: 60px;
              border-radius: 16px;
              background: url(../../img/icon5-200.jpg);
            }

            &_icon-2 {
              width: 200px;
              height: 60px;
              border-radius: 16px;
              background: url(../../img/icon6-200.jpg);
            }
          }
        }

        &_col-2 {
          width: 240px;
          height: 240px;
          border-radius: 16px;
          background: url(../../img/icon7-240.jpg);
        }
      }
    }
  }
}
